body {
    background-color: #cccccc;
    

}

.top {
    background-color: #333333;
    height: 120px;
    float: top;
}

.center{
    background-color: #e6e6e6;
    height: 100vh;
    margin:0 120px 0 120px;
}

.bottom {
    background-color: black;
    height: 70px;
    margin: 0 120px 0 120px;
    padding-bottom: 0;
}